<!-- <app-main-nav></app-main-nav> -->
<!-- <mat-toolbar color="primary">
  <span>A Portfolio Website</span>
</mat-toolbar> -->
<br>
<!-- Jumbotron -->
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">Its a Portfolio Website</p>
    <hr class="my-4">
    <p>It belongs to and built by <b>Yash Manoj Pandit. </b></p>
    <p>Built using <b>Angular 10.</b></p>

  </div>

<!-- Personal Details -->
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Personal Details
    </mat-panel-title>
    <!-- <mat-panel-description>
      This is a summary of the content
    </mat-panel-description> -->
  </mat-expansion-panel-header>
  <p><b>Name:</b> Yash Manoj Pandit</p>
  <p><b>Date of birth:</b> 04-01-1997.</p>
  <p><b>Gender:</b> Male.</p>
  <p><b>Languages known:</b> English, Hindi, Marathi, Kannada.</p>
  <p><b>Permanent address:</b> Hno 25, Hanamanavar Galli, Angol, Belgaum, Karnataka- 590006.</p>
  <p><b>Interests:</b> Poetry, Rapping, Photography, Linux Enthusiast and Fitness.</p>
</mat-expansion-panel>
<br>
<!-- Contact Details -->
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Contact Details
    </mat-panel-title>
    <!-- <mat-panel-description>
      This is a summary of the content
    </mat-panel-description> -->
  </mat-expansion-panel-header>
  <p><b>Contact Number:</b> 8867642126</p>
  <p><b>Email ID:</b> yashpandit343@gmail.com</p>
</mat-expansion-panel>
<br>
<!-- GitHub Link -->
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      GitHub Link
    </mat-panel-title>
    <!-- <mat-panel-description>
      This is a summary of the content
    </mat-panel-description> -->
  </mat-expansion-panel-header>
  <a target="_blank" class="btn btn-dark" href="https://github.com/yashpandit97" role="button">Visit GitHub Account</a>
</mat-expansion-panel>
<br>
<!-- Internship -->
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Internships
    </mat-panel-title>
    <!-- <mat-panel-description>
      This is a summary of the content
    </mat-panel-description> -->
  </mat-expansion-panel-header>
  <p><b>1. <b>Company:</b> Cinch IT Solutions, Belgaum.</b></p>
  <p><b>Worked as:</b> Intern</p>
  <p><b>Duration:</b> Feb 2020 to April 2020.</p>
  <p><b>Skills:</b> Excel Automation | Browser Automation | XML to Excel conversion | Web scraping.
  </p>
  <br>
  <p><b>2. Company: Apex Technologies, Belgaum.</b></p>
  <p><b>Worked as:</b> Intern</p>
  <p><b>Duration:</b> July 2019 to April 2019.</p>
  <p><b>Skills:</b> Web Development | HTML | CSS | PHP.</p>
</mat-expansion-panel>
<br>
<!-- Projects -->
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Projects
    </mat-panel-title>
    <!-- <mat-panel-description>
      This is a summary of the content
    </mat-panel-description> -->
  </mat-expansion-panel-header>
<ol>
  <li>Several <b>Web Scraping Projects</b> using Beautifulsoup in <b>Python</b></li>
  <li>Built an <b>E-commerce Website</b> in <b>PHP</b></li>
  <li>Worked on <b>6 Browser Automation Projects</b> in Python using <b>Selenium</b></li>
  <li>Worked on <b>3 Excel Automation projects</b> using python libraries like <b>OpenPyxl, Xlrt and Pandas</b></li>
  <li>Built an <b>E-commerce Website</b> in <b>Angular</b></li>
</ol>
</mat-expansion-panel>
<br>
<!-- Technical Expertise -->
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Technical Expertise
    </mat-panel-title>
    <!-- <mat-panel-description>
      This is a summary of the content
    </mat-panel-description> -->
  </mat-expansion-panel-header>
<ol>
  <b>Programming Language/Framework: </b>
  <br>  <br>

  <li>Angular 4+ (Lazy loading, RXJS, typescript, SPA, Restful API, Angular Material).</li>
  <li>HTML5, CSS, SCSS, Javascript, Bootstrap.</li>
  <li>Python(Excel Automation using SqlAlchemy and Openpyxl, Web scraping using Beautifulsoup, Browser automation using Selenium).</li>
  <br>
</ol>
<ol>
  <b>Database:</b>
  <br>  <br>
  <li>MySQL, PostgresSQL, SqlAlchemy, SQLite3.</li>
</ol>
</mat-expansion-panel>
<br>
<!-- Certifications -->
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Certifications
    </mat-panel-title>
    <!-- <mat-panel-description>
      This is a summary of the content
    </mat-panel-description> -->
  </mat-expansion-panel-header>
<ol>
  <li>Angular 4+ online certification at Udemy.</li>
  <li>Cambridge Business English certification (level B1).</li>
</ol>
</mat-expansion-panel> 
<br>
<!-- Achievements -->
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Achievements
    </mat-panel-title>
    <!-- <mat-panel-description>
      This is a summary of the content
    </mat-panel-description> -->
  </mat-expansion-panel-header>
<ol>
  <b>Workshops</b>
  <br><br>
  <li>I conducted 2 workshops for 6th semester students on How to make a switch to Linux.</li>
  <li>I conducted a workshop for 5th semester students on how to build a chatbot.</li>
</ol>

<ol>
  <b>Extra-Curricular Activities:</b>
  <br><br>
  <li>An Arch Linux User being a Linux Operating System enthusiast.</li>
  <li>Participated in Avalanche 2018, Hackthon at KLS GIT Belgaum.</li>
  <li>Participated in Genesis 2019, Hackthon at KLS GIT Belgaum.</li>
</ol>
</mat-expansion-panel>
<br>
<!-- Download Resume -->
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Download Resume
    </mat-panel-title>
    <!-- <mat-panel-description>
      This is a summary of the content
    </mat-panel-description> -->
  </mat-expansion-panel-header>
<a class="btn btn-dark" href="../assets/Yash_Resume.docx" download>Download Resume.</a>
</mat-expansion-panel>
<br>
<!-- Jumbotron -->

<div class="jumbotron">
  <h1 class="display-4">Thank You!</h1>
  <p class="lead">I hope you found the website useful.</p>
  <hr class="my-4">
  <p>Visit Again...</p>
  <p class="lead">
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
  </p>
</div>
</div>
<router-outlet></router-outlet>